:host {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #272d36;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.provider-item {
  height: 50px;
  color: #d9e3ef;

  button {
    border: none;
    background: none;
    padding: 0 10px;
    color: inherit;
    outline: none;
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;
  }

  &:hover,
  .active {
    border-bottom: 3px solid #15af44;
    color: #fff;
  }
}
