@font-face {
  font-family: "NeueCrocoSansMedium";
  src: url("../assets/fonts/NeueCrocoSansMedium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueCrocoSansRegular";
  src: url("../assets/fonts/NeueCrocoSansRegular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
