<div class="sidebar">
  <div class="sidebar__logo">
    <img src="./../../../assets/images/logo.svg" />
  </div>
  <ul class="sidebar__menu">
    <li
      class="sidebar__menu--item"
      routerLink="sport"
      routerLinkActive="active"
    >
      <app-icon name="sport"></app-icon>
      <span>Sport</span>
    </li>
    <li class="sidebar__menu--item" routerLink="live" routerLinkActive="active">
      <app-icon name="live"></app-icon>
      <span>Live</span>
    </li>
    <li
      class="sidebar__menu--item"
      routerLinkActive="active"
      routerLink="slots"
    >
      <app-icon name="slot"></app-icon>
      <span>Slots</span>
    </li>
    <li
      class="sidebar__menu--item"
      routerLinkActive="active"
      routerLink="casino"
    >
      <app-icon name="casino"></app-icon>
      <span>Casino</span>
    </li>
  </ul>
</div>
