<div class="sidebar">
  <div class="sidebar--logo">
    <img src="./../../../assets/images/logo.svg" />
  </div>
  <ul class="sidebar--menu">
    <li class="sidebar--menu-item" routerLink="sport" routerLinkActive="active">
      <app-icon name="sport"></app-icon>
      <span>Sport</span>
    </li>
    <li class="sidebar--menu-item" routerLink="live" routerLinkActive="active">
      <app-icon name="live"></app-icon>
      <span>Live</span>
    </li>
    <li class="sidebar--menu-item" routerLink="slots" routerLinkActive="active">
      <app-icon name="slot"></app-icon>
      <span>Slots</span>
    </li>
    <li
      class="sidebar--menu-item"
      routerLink="casino"
      routerLinkActive="active"
    >
      <app-icon name="casino"></app-icon>
      <span>Casino</span>
    </li>
  </ul>
</div>
