:host {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #1d242c;
  border-radius: 6px 6px 0 0;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  height: 50px;
  color: #fff;
  padding: 0 10px;
  border-bottom: 3px solid transparent;

  button {
    border: none;
    background: none;
    color: inherit;
    outline: none;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  &__count {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: -7px;
  }

  &:hover,
  &.active {
    border-bottom: 3px solid #15af44;
    color: #fff;
  }

  &:hover {
    .category__count {
      color: #15af44;
    }
  }
}
